
[sessions]

[sessions.lint]
# disable reformatting for now
run_isort = false

# disable reformatting for now
run_black = false

# Add more configuration settings here to adjust to your collection;
# see https://docs.ansible.com/projects/antsibull-nox/config-file/#basic-linting-sessions

run_mypy = false
flake8_config = ".flake8"
pylint_rcfile = ".pylintrc"
yamllint_config = ".yamllint"

[sessions.docs_check]
# Add configuration settings here to adjust to your collection;
# see https://docs.ansible.com/projects/antsibull-nox/config-file/#collection-documentation-check

[sessions.ansible_test_sanity]
include_devel = true  # default: false

[sessions.ansible_test_units]
include_devel = true  # default: false

[sessions.ansible_test_integration_w_default_container]
include_devel = true  # default: false
controller_python_versions_only = false

# Trim the CI matrix:
[sessions.ansible_test_integration_w_default_container.core_python_versions]
# The clipped word is 'core_python_versions'
"2.14" = ["2.7", "3.5", "3.9"]
"2.15" = ["3.7"]
"2.16" = ["2.7", "3.6", "3.11"]
"2.17" = ["3.7", "3.12"]
"2.18" = ["3.8", "3.13"]
