
[sessions]

[sessions.lint]
# disable reformatting for now
run_isort = false

# disable reformatting for now
run_black = false

# Add more configuration settings here to adjust to your collection;
# see https://docs.ansible.com/projects/antsibull-nox/config-file/#basic-linting-sessions

run_mypy = false
flake8_config = ".flake8"
pylint_rcfile = ".pylintrc"
yamllint_config = ".yamllint"

[sessions.docs_check]
# Add configuration settings here to adjust to your collection;
# see https://docs.ansible.com/projects/antsibull-nox/config-file/#collection-documentation-check
